.button-component { 
 background: var(--Border); 
 border: 1px solid var(--Border); 
 border-radius: 1vh; 
 padding: 1.4vh 2.9vh; 
 color: var(--white); 
 display: flex; 
 place-content: center; 
 align-items: center; 
 font-size: 2vh; 
 font-weight: 700; 
 width: 17vh; 
 cursor: pointer; 
 transition: all .5s; 
text-decoration: none; 
 } 
 .button-component>img { 
 width: 2vh; 
 margin-right: 1vh; 
 } 
 .button-component-span { 
 display: inline-block; 
 } 
 

 
 .button-component:hover { 
 color: #fff; 
 background: transparent; 
 border-color: var(--Gray); 
 } 
 
 .button-component:hover:before { 
 left: 0; 
 right: 0; 
 opacity: 1; 
 } 